.header {
    display: flex; 
    align-items: center; 
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}
.logo {
    width: 72px; 
    height: 27px; 
    margin-right: 20px; 
    margin-left: 10px;
}
.menu {
    flex: 1;
    text-align: center;
    color: #fff; 
    padding: 10px 0; 
    font-family: Arial, Helvetica, sans-serif;
}
  
.menu ul {
    list-style: none; 
    padding: 0;

}
  
.menu li {
    display: inline-block; 
    margin-right: 20px; 
}
  
.menu a {
    text-decoration: none; 
    color: #fff; 
}
  
.menu a:hover {
    color:black;
    background-color: white;
}

  
.search-bar input {
    padding: 6px; 
    border: none; 
    border-radius: 3px; 
    margin-right: 5px; 
}
  

  
.container {
    display: flex; 
    align-items: flex-start; /* Aligner les éléments en haut */
}
.sidebar {
    width: 20%; 
    background-color: white; 
    padding: 20px; 
    box-sizing: border-box;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    
}
.sidebar ul {
    list-style: none; 
    padding: 0;
}
  
.sidebar li {
    margin-bottom: 10px; /* Espacement entre les éléments de liste */
    
}
  
.sidebar a {
    display: block; /* Pour occuper toute la largeur */
    color: black; /* Couleur du texte */
    padding: 10px 15px; /* Espacement intérieur */
    text-decoration: none; /* Pas de soulignement */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition fluide pour le changement de couleur de fond */
}
.sidebar a:hover {
    color: white;
    
}

