.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.logo {
    width: 72px;
    height: 27px;
    margin-right: 20px;
    margin-left: 10px;
}

.menu {
    flex: 1;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style-type: none;
    text-align: center;
}


li {
    display: inline-block;
    margin-right: 20px;
}

li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}



.search-bar input {
    padding: 6px; 
    border: none; 
    border-radius: 3px; 
    margin-right: 5px; 
    width: 200px;
}


.search-bar button {
    padding: 6px;
    border: none;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    height: 30px;
   
}
/* Barre de recherche formulaire */
.search-bar form {
    display: flex;
   
}



/* Style pour la section du produit */
.product-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px;
}


.thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; /* Ajustez la largeur selon vos besoins */
    padding: 20px;
}


.thumbnail {
    width: 80px; /* Ajustez la taille de la miniature */
    height: 80px; /* Ajustez la taille de la miniature */
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.product-details {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details .price {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.color-options,
.size-options {
    display: flex;
    margin-bottom: 20px;
}

.color-option {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.size-button {
    width: auto;
    padding: 0 10px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.size-button.selected {
    border-color: #000;
}

.boutons {
    display: flex;
    flex-direction: column;
}

.boutons button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.add-to-cart {
    background-color: #000;
    color: #fff;
}
.add-to-cart:hover {
    background-color: white;
    color: #000;
}

.add-to-favorites {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}
.add-to-favorites:hover {
    background-color: #000;
    color: #fff;
 
}
/* Animation grise */
.hover-filter {
    transition: filter 0.2s ease;
    
}

.hover-filter:hover {
    filter: opacity(.2)

}

@media screen and (max-width: 480px) {
    
    .header {
        flex-direction: column; 
        align-items: stretch; 
        
    }
    .search-bar {
        margin-bottom: 1rem;
        display: flex;
        align-self: center;
 
    }
    .product-container {
        
        flex-direction: column;
        
    }
    .thumbnail-container {
        flex-direction: row;
        gap: 1rem;
    }
    .main-image-container {
       
        margin: 0 auto; /* Cela devrait centrer horizontalement le conteneur */
        text-align: center; /* Cela devrait centrer l'image à l'intérieur du conteneur */
    }

    .main-image-container img {
        max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
        height: auto; /* Permet à l'image de conserver son aspect ratio */
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
        .header {
            flex-direction: column;
            align-items: stretch;
        }
    
        .search-bar {
            margin-bottom: 1rem;
            display: flex;
            align-self: center;
        }
    
        .product-container {
            flex-direction: column;
        }
    
        .thumbnail-container {
            flex-direction: row;
            gap: 1rem;
            
        }
    
        .main-image-container {
            margin: 0 auto;
            text-align: center;
        }
    
        .main-image-container img {
            max-width: 100%;
            height: auto;
        }
    
   
    
        
     
    }
/* Pour les écrans jusqu'à 1024 pixels de large */
@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar {
        margin-bottom: 1rem;
        display: flex;
        align-self: center;
    }

    .product-container {
        flex-direction: column;
    }

    .thumbnail-container {
        flex-direction: row;
        gap: 1rem;
        
    }

    .main-image-container {
        margin: 0 auto;
        text-align: center;
    }

    .main-image-container img {
        max-width: 100%;
        height: auto;
    }

    .product-details {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer les détails verticalement */
        text-align: center;
    }

   
  
  

}

