
.header {
    text-align: center;
}


.logo {
    margin-bottom: 20px;
}


ul {
    list-style-type: none;
    text-align: center;
}


li {
    display: inline-block;
    margin-right: 20px;
}

li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
    border-radius: 10px;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-right: 10px;
}

.search-bar button {
    padding: 5px;
    border: none;
    background-color: #fff;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
}
/* Barre de recherche formulaire */
.search-bar form {
    display: flex;
   
}


/* Titre */
h2 {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Conteneur d'images */
.image-container {
    margin-top: 20px;
}

.image-container .row {
    display: flex; /* Utilisation de flexbox pour aligner les images en ligne */
    flex-wrap: wrap; /* Permet de passer à une nouvelle ligne lorsque l'espace est insuffisant */
    justify-content: space-between; /* Répartit l'espace entre les images */
    gap: 1rem; /* Espace entre les images */
}

.image-container .row a {
    flex: 1 1 calc(33.333% - 1rem); /* Largeur de 30%, moins l'espace du gap */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur et la hauteur */
}

.image-container .row .image {
    width: 100%; /* Ajustement de la taille de l'image à 100% du conteneur */
}


